<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <header>
      <h1><%= title %></h1>
    </header>

    <div role="main">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>問題文</th>
                    <th>編集</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                <% for (var obj of content) { %>
                <tr>
                    <td><%= obj.id %></td>
                    <td><%= obj.question %></td>
                    <td><button onclick="location.href='/manage/edit/<%= obj.id %>'" class="btn btn-primary">編集</button></td>
                    <td>
                        <button type="button" onclick="deleteConfirm(<%= obj.id%>)" class="btn btn-danger"> 削除 </button>
                    </td>
                </tr>
                <% } %>
            </tbody>
            
        </table>
        <button onclick="location.href='/'" class="btn btn-secondary ms-2 me-2">Topに戻る</button>
        <button onclick="location.href='/manage/register'" class="btn btn-primary ms-2 me-2">登録</button>
    </div>
    <script> 
        function deleteConfirm(id) {
          if (window.confirm("削除しますか？")) {
            fetch("/manage/delete/" + id, {
              method: "DELETE",
              body: JSON.stringify({
                id: id
              }),
              headers: {
                "Content-type": "application/json; charset=UTF-8",
              },
            })
            .then(setTimeout(() => {
                location.reload()
            }, 100))
          }
        }
    </script>
  </body>
</html>
